
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pilloxa.dfu">
    <application>
        <service android:name=".DfuService"/>
    </application>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE"/>
</manifest>
  
